@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@600&display=swap');

header{
    position: fixed;
    width: 100%;
}
main{
    margin-top: 5%;
}
.App{
    font-family: 'Acme', sans-serif;
}
/* general */

.box-shadow{
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,.2);
}
.ff-dancing{
    font-family: 'Dancing Script', cursive;
}
.ff-acme{
    font-family: 'Acme', sans-serif;
}
.ff-sans-serif{
    font-family: sans-serif;
}
.fit-content{
    height: fit-content;
}
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.gradient-bkg{
    background: linear-gradient(#e8b50a, #e8550a);
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.margin-top{
    margin-top: -5%;
}
/* specified classes */
.bio-display{
    --gap: 0;
}
.comments{
    margin-top: 5%;
    margin-left: 5%;
    --gap: 1rem;
}
.comment{
    grid-template-columns: repeat(3,1fr);
    --gap: 0
}
.comment-btn{
    width: 5rem;
    padding: 6px;
    font-size: 18px;
    color: #e8550a;
    background-color: transparent;
    border: none;
}
.comment-content{
   display: inline;
   margin: 5px;
}
.comment-content-container{
    width: 15rem;
}
.comment-icon{
    width: 25px;
    height: 25px;
    color:#a9abb0;
    margin-left: -5px;
    padding-right: 10px;
}
.comment-input{
    width: 17rem;
    resize:none;
    margin-top: -4px;
    margin-bottom: -4px;
    border: none;
    outline: none;
    font-size: 20px;
   padding: 5px;
}
.comment-input-container{
    align-items: center;
    --gap: 0;
    margin-top: 15px;
    height: fit-content;
    padding-left: 15px;
    border: 2px solid#e8b50a;
    border-radius: 8px;
}
.comment-profile-img{
    width: 3.5rem;
    border: 2px solid #e8550a;
    border-radius: 100%;
}

.create-post-card{
    width: 30rem;
    height: 30rem;
    align-items: center;
    margin: 5% 35%;
    background-color: rgb(255, 255, 255);
}
.dropzone{
    border-radius: 5px;
    width: 25rem;
    height: 75%;
    margin-bottom: 2.5rem;
}
.dropzone-arrow{
    margin-left: 10px;
}
.dropzone-btn{
    font-size: 18px;
    background: transparent;
    border: solid transparent;
    color:#e8550a
}
.dropzone-caption-label{
    align-items: center;
}
.dropzone-icon{
   width: 5rem;
   height: 5rem;
   margin: 15% 35% 10% 35%;
}
.dropzone-input{
    outline: none;
}
.dropzone-input[contentEditable]:empty::before{
    content: 'caption your post here...';
    color: grey;
}
.dropzone-share{
    margin-left: 55%;
}
.dropzone-text{
    font-size: 25px;
    align-items: center;
    --gap: 0;
    margin-top: -20px;
}
.dropzone-profile-img{
    width: 3rem;
    border-radius: 100%;
    border: 2px solid #e8b50a;
}

.edit-elem{
    font-size: 18px;
   --gap: 2rem;
   margin-right: 15%;
   
}
.edit-input{
    outline: none;
    border-radius: 5px;
    resize: vertical;
    width: 15rem;
    height: 1.5rem;
}
.edit-profile{
    background: white;
    width: 30rem;
    height: fit-content;
    align-items: center;
    margin: 10% 35%;
    border: 2px solid #a9abb0;
    border-radius: 10px;
    padding: 20px;
}
.edit-profile-close{
    height: 30px;
    margin-right: -9rem;
}
.edit-profile-elems{
    align-items: flex-end;
    width: 100%;
    margin-top: -25px;
}
.edit-profile-header{
    border-bottom: 2px solid #a9abb082;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    --gap: 0;
}
.edit-profile-img{
    --gap: 2rem;
    align-items: center;
    margin-right: 31%;
}
.edit-username{
    font-size: 20px;
    margin-bottom: -12px;
}
.emoji-picker{
    position: fixed;
    margin-top: 13.5rem;
    margin-left: -15px;
    height: fit-content;
}
.emoji-picker::before{
    content: '';
    display: block;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(215, 215, 215);
    margin-top: 20rem;
    margin-left: 1rem;
}
.feed-primary-layout{
    align-items: center; 
    --gap: 2rem;
}
.final-post-display{
    margin-top: -5px;
    align-items: center;
}
.final-preview{
    width: 15rem;
    padding: 5px;
    margin-right: -5px;
}
.final-preview-img{
    border-bottom: transparent;
    border-radius: 5px;
}
.follow-container{
    margin: 5% 0 10% 35%;
    width: 40rem;
    height: 40rem;
    border:2px solid #a9abb087;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
}
.follow-button{
    width: 12rem;
    height: 2rem;
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
    border:1.5px solid #ff9f0a;
}
.follow-card{
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 7%;
    --gap: 1rem;
}
.follow-card-container{
    margin-top: 13%;
}
.follow-card-names{
    --gap: 0;
}
.follow-close{
    margin-left: 12rem;
    font-size: 25px;
    padding: 5px;
}

.follow-header{
    font-size: 30px;
    margin: 0 3%;
    border-bottom: 2px solid #a9abb0;
    padding: 20px 0 10px 14rem;
    background-color: white;
    position: fixed;
}
.follow-name{
    margin-top: -15%;
    font-weight: 500;
}

.follow-profile-img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 2px solid #e8b50a
}
.form{
    justify-content: center;
    align-items: center;
    --gap: 2rem;
    max-width: 400px;
    margin-left: 30%;
    border-radius: 10px;
    padding: 35px;

}

.form-fields{
    width: 300px;
    height: 35px;
    position: relative;
}
.form-fields input{
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.364);
}

.form-fields label{
    position: absolute;
    top: 7px;
    left: 15px;
    text-transform: capitalize;
    font-size: 18px;
    pointer-events: none;
    transition: 0.3s;
}
.form-fields input:focus+label, .form-fields input:valid+label{
    transform: translateY(-7px);
    font-size: 13px;
    color: rgba(0, 0, 0, 0.513);
}
.img-display{
    width: 15rem;
    border: 1.5px solid #ff9f0a;
    border-radius: 5px;
}
.img-display-layout{
    width: 50rem;
    flex-wrap: wrap;
    margin-left: 10%;
}
.landing{
    --gap: 6rem;
    justify-content: center;
    margin-top: 5rem;
    
}
.landing-btn{
    background: #e8b50a;
    box-shadow: inset 0 0 5px #ffffff65;
    width: 100px;
    border: transparent;
    border-radius: 6px;
    padding: 8px;
}

.landing-btn:hover{
    background-color: #ffdd00;
}

.landing-btns{
    --gap: 4rem;
}

.landing-greeting{
    width: 400px;
    align-items: center;
    --gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.landing-logo{
    width: 500px; 
}

.landing-txt{
    width: 275px;
    word-wrap: normal;
    margin-left: 2rem;
}
.lettering-logo{
    font-size: 2.5rem;
    margin: 0;
}
.lower-txt{
    font-size: 1.75rem;
    margin-left: 1.55rem;
}
.menu-item, .privacy-item{
    margin: 0;
    padding: 11px;
    width: 90%;
    text-align: center;
}
.menu-item:first-child{
    margin-top: 8%;
}
.menu-item:last-child{
    border-top: 2px solid rgba(128, 128, 128, 0.394);
    padding: 15px;
}
.menu-item:hover{
    background-color: #a9abb04b;
    border-radius: 3px;
}

.nav{
    width: 100%;
    padding: 3px;
    justify-content: space-between;
}
.nav-elems{
    margin-left: 20%;
}
.nav-icon{
    width: 26px;
    height: 26px;
    color: black;
}

.nav-icons{
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 15%;
}
.post-caption{
    border-top: 2px solid #a9abb062;
    width: 25rem;
    padding: 5px;
    --gap: .5rem;

}
.post-card{
    width: 25rem;
    --gap: 5px;
    border: 2px solid #a9abb0;
    border-radius: 10px;
    padding: 10px;
}
.post-card-header{
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: 3px solid #a9abb0;
    width: 25rem;
}
.post-card-overlay{
    height: 100%;
}
.post-close{
margin-right: 10px;
}

.post-follow{
    margin-top: 13%;
    margin-left: 7%;
    grid-area: 1/2;
}
.post-icon{
    width: 30px;
    height: 30px;
}
.post-icons{
    margin-left: 5%;
    margin-top: 5%;
}
.post-img{
    width: 350px;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 5%;
}
.preview-header{
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-bottom: 3px solid #a9abb0;
    width: 25rem;
}
.privacy-container{
    justify-content: space-between;
    position: fixed;
    background-color: whitesmoke;
    margin-left: -9rem;
    width: 7rem;
    padding: 10px;
    border-radius: 5px;
}
.privacy-container::before{
    content: '';
    display: block;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid whitesmoke;
    margin-left: 90%;
    margin-top: -8px;
}
.privacy-item:hover{
    background-color: #a9abb04b;
    border-radius: 3px;
}
.privacy-menu{
position: relative;
width: 100%;
margin-right: -10px;
}
.post-header-label{
    margin-left: 10rem;
}
.profile{
    width: 40rem;
    grid-template-columns: repeat(2,1fr);
    margin-left: 7%;
    border-bottom: 2px solid #a9abb067;
    padding: 5rem;
    padding-bottom: 10px;
}
.profile-bio{
   margin-top: 5px; 
}
.profile-btn{
    width: 27rem;
    height: 35px;
    border: 1.5px solid #ff9f0a;
    border-radius: 10px;
    margin-top: 25%;
    grid-area: 1/2;
    font-size: 20px;
}
.profile-container{
align-items: center;
}
.profile-icon{
    border: 2px solid black;
    border-radius: 100%;
    width: 1.7rem;
}
.profile-icon-menu{
    justify-content: flex-end;
}
.profile-img{
    width: 8rem;
    border: 3px solid #a9abb06c;
    border-radius: 100%;
    margin-left: 10%;
    grid-area: 1;
}
.profile-name{
    font-size: 18px;
}
.profile-nums{
    font-size: 1.5rem;
    margin-right: 5%;
    margin-top: 20%;
    font-family: acme;
}
.profile-username{
    grid-area: 1/2;
    font-size: 40px;
    text-align: center;
}
.response{
    font-size: 20px;
    margin: -12px;
    color: rgb(231, 228, 228);
}
.toggle{
    height: 20px;
    width: 40px;
    border: 1px solid #000000;
    margin: auto;
    border-radius: 15px;
    background: linear-gradient(#e8b50a, #e8550a);
}
.false{
    background: #a9abb0;
}
.toggle-switch{
    height: 100%;
    width: 50%;
    border-radius: 100%;
    background-color: white;
    transition: all 0.3s ease;
}
.false > .toggle-switch{
     transform: translate(20px, 0);
}
.user-menu{
    --gap: 0;
    width: 20rem;
    font-size: 20px;
    margin-top: 3.5rem;
    margin-right: -3rem;
    background: whitesmoke;
    align-items: center;
    position: fixed;
    border-radius: 8px;
}
.user-menu::before{
    content: '';
    display: block;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid whitesmoke;
    margin-top: -20px;
    margin-right:-12rem;

}

.upper-txt{
    font-size: 2.75rem;
}
.user-prompt{
    margin-top: -20px;
    margin-bottom: -10px;
}
/* responsive */
@media (max-width: 820px){
    .landing-logo{
        width: 20rem;
        margin-left: 30%;
    }
    .landing-greeting{
        width: 17rem;
        margin-left: 32%;
        padding: 1.5rem;
        
    }
    .landing{
        flex-direction: column;
        margin-top: -2rem;
        --gap: 0;
    }
    .nav{
        padding: 3px;

    }
    .nav-elems{
        margin-left: 2%;
    }
}
@media (max-width: 35rem){
    .landing-logo{
        margin-left: 7%;
    }
    .landing-greeting{
        margin-left: 9%; 
    }
}
