@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@600&display=swap');


.App{
    font-family: 'Acme', sans-serif;
}
/* general */

.box-shadow{
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,.2);
}
.ff-dancing{
    font-family: 'Dancing Script', cursive;
}
.ff-acme{
    font-family: 'Acme', sans-serif;
}
.ff-sans-serif{
    font-family: sans-serif;
}
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.gradient-bkg{
    background: linear-gradient(#e8b50a, #e8550a);
}

/* specified classes */
.comments{
    margin-top: 5%;
    margin-left: 5%;
    --gap: 1rem;
}
.comment{
    grid-template-columns: repeat(3,1fr);
    --gap: 0
}
.comment-btn{
    width: 5rem;
    padding: 6px;
    font-size: 18px;
    color: #e8550a;
    background-color: transparent;
    border: none;
}
.comment-content{
   display: inline;
   margin: 5px;
}
.comment-content-container{
    width: 15rem;
}
.comment-icon{
    width: 25px;
    height: 25px;
    color:#a9abb0;
    margin-left: -5px;
    padding-right: 10px;
}
.comment-input{
    width: 17rem;
    height: 2rem;
    margin-top: -4px;
    margin-bottom: -4px;
    border: none;
    outline: none;
    font-size: 16px;
}
.comment-input-container{
    align-items: center;
    --gap: 0;
    margin-top: 15px;

    padding-left: 15px;
    border: 2px solid#e8b50a;
    border-radius: 8px;
}
.comment-profile-img{
    width: 3.5rem;
    border: 2px solid linear-gradient(#e8b50a, #e8550a);
    border-radius: 100%;
}
.edit-profile-btn{
    width: 25rem;
    height: 35px;
    border: 1.5px solid #ff9f0a;
    border-radius: 10px;
    margin-top: -15%;
}

.feed-primary-layout{
    align-items: center; 
    margin-top: 5%;
    --gap: 2rem;
}
.form{
    justify-content: center;
    align-items: center;
    --gap: 2rem;
    max-width: 400px;
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
    padding: 35px;
}
.form-fields{
    width: 300px;
    height: 35px;
    position: relative;
}
.form-fields input{
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.364);
}

.form-fields label{
    position: absolute;
    top: 7px;
    left: 15px;
    text-transform: capitalize;
    font-size: 18px;
    pointer-events: none;
    transition: 0.3s;
}
.form-fields input:focus+label, .form-fields input:valid+label{
    transform: translateY(-7px);
    font-size: 13px;
    color: rgba(0, 0, 0, 0.513);
}
.img-display{
    width: 15rem;
    border: 1.5px solid #ff9f0a;
    border-radius: 5px;
}
.img-display-layout{
    width: 40rem;
}
.landing{
    --gap: 6rem;
    justify-content: center;
    margin-top: 5rem;
    
}
.landing-btn{
    background: #e8b50a;
    box-shadow: inset 0 0 5px #ffffff65;
    width: 100px;
    border: transparent;
    border-radius: 6px;
    padding: 8px;
}

.landing-btn:hover{
    background-color: #ffdd00;
}

.landing-btns{
    --gap: 4rem;
}

.landing-greeting{
    width: 400px;
    align-items: center;
    --gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.landing-logo{
    width: 500px; 
}

.landing-txt{
    width: 275px;
    word-wrap: normal;
    margin-left: 2rem;
}
.lettering-logo{
    font-size: 2.5rem;
    margin: 0;
}
.lower-txt{
    font-size: 1.75rem;
    margin-left: 1.55rem;
}
.nav{
    width: 100%;
    padding: 3px;
    justify-content: space-between;
}
.nav-elems{
    margin-left: 17%;
}
.nav-icon{
    width: 26px;
    height: 26px;
}

.nav-icons{
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 17%;
}
.post-card{
    width: 25rem;
    --gap: 5px;
    border: 2px solid #a9abb0;
    border-radius: 10px;
    padding: 10px;
}
.post-follow{
    margin-top: 10%;
    margin-left: 15%;
}
.post-icon{
    width: 30px;
    height: 30px;
}
.post-icons{
    margin-left: 5%;
}
.post-img{
    width: 23rem;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 5%;
}
.profile{
    width: 40rem;
    grid-template-columns: repeat(2,1fr);
    margin-left: 7%;
    border-bottom: 2px solid #a9abb067;
    padding: 5rem;
    padding-bottom: 10px;
}
.profile-container{
    align-items: center;
}
.profile-img{
    width: 8rem;
    border-radius: 100%;
    margin-left: 10%;
}
.response{
    font-size: 20px;
    margin: -12px;
    color: rgb(231, 228, 228);
}
.upper-txt{
    font-size: 2.75rem;
}
.user-prompt{
    margin-top: -20px;
    margin-bottom: -10px;
}
/* responsive */
@media (max-width: 820px){
    .landing-logo{
        width: 20rem;
        margin-left: 30%;
    }
    .landing-greeting{
        width: 17rem;
        margin-left: 32%;
        padding: 1.5rem;
        
    }
    .landing{
        flex-direction: column;
        margin-top: -2rem;
        --gap: 0;
    }
    .nav{
        padding: 3px;

    }
    .nav-elems{
        margin-left: 2%;
    }
}
@media (max-width: 35rem){
    .landing-logo{
        margin-left: 7%;
    }
    .landing-greeting{
        margin-left: 9%; 
    }
}
